
<div class="row justify-content-center">
    @if(formulario){
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class=" mb-3">
            <input class="form-control" type="text" name="nombre" placeholder="Nombre" formControlName="nombre" autocomplete="off" [value]="isEditar ? evento?.nombre : ''" >
        </div>
        <div class="mb-3">
            <div>
                <p>Fecha</p>
            </div>
            <div class=" d-flex">
                <select class="form-select" name="dia" id="dia" title="día" formControlName="dia" autocomplete="off" > 
                    <option id="dia" *ngFor="let dia of dias" [value]="dia"  > {{ dia }} </option>
                </select>
                <select class="form-select" name="mes" id="" title="mes" formControlName="mes" autocomplete="off" >
                    <option *ngFor="let mes of meses" [value]="mes"> {{ mes }} </option>
                </select>
                <select class="form-select" name="anio" id="" title="año" formControlName="anio" autocomplete="off">
                    <option *ngFor="let anio of anios" [value]="anio"> {{ anio }} </option>
                </select>
            </div>
            <div *ngIf="form.errors?.['isFechaPasada']">
                <small class="text-danger">La fecha debe ser mayor a la fecha actual.</small>
              </div>
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" name="ubicacion" placeholder="Ubicación" formControlName="ubicacion" autocomplete="off" [value]="isEditar ? evento?.ubicacion : ''">
        </div>
        <div class="mb-3">
            <textarea class="form-control" type="text" name="descripcion" placeholder="Descripción" formControlName="descripcion" [value]="isEditar ? evento?.descripcion : ''" ></textarea>
        </div>
        <div class="mb-3">
            <button [disabled]="!form.valid" 
                                    class="btn btn-outline-secondary "
                                    type="submit"
                                    >
                            {{btnText}}</button>
        </div>

    </form> }
    @else {
        <app-evento-agregado (agregarOtroEvento)="formulario = true"></app-evento-agregado>
    }
</div>


