<div class="container">
  @if(eventos.length!==0){
  <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for(evento of eventos; track $index){
              
                  @if(evento==null){
                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    
                  }
                  @else{
                    <tr [attr.data-bs-target]="'#detalleModal'"  (click)="setSeleccionado(evento); mostrarModal() " >
                          <td>{{ evento.fecha | date: 'dd-MM-yyyy' }}</td>
                          <td>{{evento.nombre}}</td>
                          <td>
                              <button [title]="registrado[(evento.id)] == 0?'Registrarme':'Dar de baja'" (click)="onRegistrarme(evento.id,$event)" class="btn btn-light" 
                                      [ngClass]="{'btn-disabled': registrado[(evento.id)] !== 0}">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                                  </svg>
                              </button>
                              @if(registrado[evento.id]){
                                <button [title]="confirmado[evento.id]?'Desconfirmar':'confirmar participación'" (click)="onConfirmarParticipacion(evento.id,$event)" class="btn btn-light"
                                [ngClass]="confirmado[(evento.id)] === 0 ? 'btn-pendiente' : 'btn-confirmado'">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                  </svg>
                              </button>
                              }

                          </td>
                  </tr>
                  }
            }
        

    
        </tbody>

    </table>
  }
  @else {
    <p>No eventos próximos</p>
  }
  
    <app-pagination (emitirArrPaginado)="recibirEventos($event)"
                    [PAGES_CANTIDADxGRUPO]="PAGES_CANTIDADxGRUPO" 
                    [funcionPagina]="funcionPagina"
                    [LIMIT]="LIMIT"/> 
</div>


<app-usuario-evento-detalle [idModal]="'detalleModal'" [isModalVisible]="isModalVisible" [evento]="eventoSeleccionado" (emitirCerrar)="cerrarModal()"></app-usuario-evento-detalle>