<!-- Barra de navegación superior fija en la parte superior de la pantalla -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ms-auto" (click)="logOut()">Cerrar sesión</a>
    </div>
</nav>
  
 
<div class="d-flex" style="padding-top: 56px;">
    <!-- Barra de navegación vertical fija a la izquierda -->
    <app-nav-bar (emitirSeleccionado)="recibirSeleccionado($event)"></app-nav-bar>
  
    <!-- Contenido principal  -->
    <div class="content" style="margin-left: 200px; padding: 20px; overflow-y: auto; height: calc(100vh - 56px);">
        @switch (seleccion) {
            @case ("lista") {
                <app-evento-search (emitirInput)="recibirInput($event)" [placeholder]="'Buscar(id, nombre)'"></app-evento-search>
                <app-evento-tabla (emitirAsistenciaPorEvento)="recibirEventoAsistencia($event)" [idOrName]="idOrName"/> 
            }
            @case("asistencia"){
               <app-evento-asistencia [evento]="evento"/>               
            }
            @case("crearEvento"){
               <app-evento-formulario/>               
            }
        }
        
      
    </div>
  </div>